<div class="weather-card">
  <span class="title">Next hours</span>
  <hr />
  <div class="error-msg" *ngIf="showErrorMessage">
    <span>Weather data couldn't be load. Try again later</span>
  </div>
  <div class="weather-info" *ngIf="data && data.length && !showErrorMessage">
    <div class="hour" *ngFor="let entry of data">
      <span>{{ entry.temperature }}°</span>
      <span class="rain-chance">{{ entry.rainChance }}%</span>
      <img [src]="getIcon(entry.iconId)" />
      <span class="time">{{ getFormattedTime(entry.timestamp) }}</span>
    </div>
  </div>
</div>
