<div class="weather-card">
  <span class="title">Next 5 days</span>
  <hr />
  <div class="error-msg" *ngIf="showErrorMessage">
    <span>Weather data couldn't be load. Try again later</span>
  </div>
  <div class="daily-info" *ngIf="data && data.length">
    <div class="day" *ngFor="let entry of data">
      <ng-container
        *ngTemplateOutlet="weatherItem; context: { $implicit: entry }"
      >
      </ng-container>
    </div>
  </div>
</div>

<ng-template #weatherItem let-data>
  <div class="daily-weather-container">
    <div>
      <img
        [src]="getIcon(data.iconId)"
        alt="weather icon"
        width="40"
        height="40"
      />
    </div>
    <div class="general-description">
      <span class="date-text">
        {{ data.date | date : "EEE, MMM d" }}
      </span>
      <span class="data-description">
        {{ data.description }}
      </span>
    </div>
    <div class="degrees-container">
      <span>{{ data.maxTemp }}°</span>
      <span>{{ data.minTemp }}°</span>
    </div>
  </div>
</ng-template>
