<mat-toolbar class="toolbar">
  <span>Simple Weather</span>
  <span class="spacer"></span>
  <button mat-icon-button class="close-btn" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <label for="name">Find the weather for other cities:</label>
  <input
    id="name"
    [(ngModel)]="cityName"
    placeholder="Search for a city"
    (keyup.enter)="onEnter()"
  />
  <app-daily-weather
    *ngIf="showResults"
    [data]="searchResultData"
  ></app-daily-weather>
</div>
